<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= post.title %></title>
    <%- include('../partials/_bootstrap.ejs') %>
  </head>
  <body>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.content %></p>
        <p class="card-text">Created by: <%= post.owner.username %></p>
        <form action="/posts/<%= post._id %>?_method=DELETE" method="post">
          <button class="btn btn-danger btn-sm">Delete</button>
        </form>
        <a href="/posts/<%= post._id %>/edit">
          <button class="btn btn-info btn-sm">Edit</button>
      </div>
    </div>
  </body>
</html>
